inventory button ayaralanacak
//todo
//if(canusecharacter&&levelyetiyosa)
screnable özellliği düzeltilecek
IInventorObjectable burdan screen değerleri halldedilecek string [1].color falan filan
//item çıkarma equipment basic te yapılacak sağ tıklama ile
silah tam oturmuyor ayaralanacak üstte kalıyor //önemsiz
tooltip düzenlenecek//önemli